
.basecamp {
    background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-color: #000000;
}

.main {
	background-color: #000000;
}

.hover {
	cursor: pointer;
}

/*
"Music reaches where words can't. It's known even for the animals" - Catelyn Stark
*/